[submodule "rtl/socdebug_tech"]
	path = rtl/socdebug_tech
	url = https://git.soton.ac.uk/soclabs/socdebug_tech.git
[submodule "rtl/sldma230_tech"]
	path = rtl/sldma230_tech
	url = https://git.soton.ac.uk/soclabs/sldma230_tech.git
[submodule "rtl/slcorem0_tech"]
	path = rtl/slcorem0_tech
	url = git@git.soton.ac.uk:soclabs/slcorem0_tech.git
[submodule "rtl/sldma350_tech"]
	path = rtl/sldma350_tech
	url = https://git.soton.ac.uk/soclabs/sldma350_tech.git
[submodule "rtl/sl_ams_tech"]
	path = rtl/sl_ams_tech
	url = https://git.soton.ac.uk/soclabs/sl_ams_tech.git
[submodule "rtl/synopsys_28nm_slm_integration"]
	path = rtl/synopsys_28nm_slm_integration
	url = https://git.soton.ac.uk/soclabs/synopsys_28nm_slm_integration.git
[submodule "rtl/hostio4"]
	path = rtl/hostio4
	url = https://git.soton.ac.uk/soclabs/hostio4.git
[submodule "nanosoc_gen"]
	path = nanosoc_gen
	url = https://git.soton.ac.uk/soclabs/nanosoc_gen.git
[submodule "rtl/slcorem0p_tech"]
	path = rtl/slcorem0p_tech
	url = https://git.soton.ac.uk/soclabs/nanosoc-m0/slcorem0p_tech.git
